* {
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
}


/* @media only screen and (min-width: 900px){ */

  .main_outer{
    height: 100%;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #016792;
    background: -moz-linear-gradient(top,  #016792 0%, #00182b 100%);
    background: -webkit-linear-gradient(top,  #016792 0%,#00182b 100%);
    background: -o-linear-gradient(top,  #016792 0%,#00182b 100%);
    background: -ms-linear-gradient(top,  #016792 0%,#00182b 100%);
    background: linear-gradient(to bottom,  #016792 0%,#00182b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016792', endColorstr='#00182b',GradientType=0 );
  }

  .container{
    background-image: url(images/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px;
    border-radius: 10px;
    position: relative;
  }

  .searchbar{
    padding-top: 50px;
    width: fit-content;
    margin: auto;
    width: 40%;
  
  }

  ::placeholder{
    text-align: center;
    font-size: 16px;
  }

  input{
    text-align: center;
  }

  .result{
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    margin: auto;
    height: 200px;
    width: 250px;
    border: 5px;
    border-color: antiquewhite;
    border-radius: 20px;
  }

  /* .result{
    top: -50%;
  } */
  
  .city_name_img{
    margin-top: 10px;
    height: 30px;
    padding-bottom: 5px;
  }

  .temp{
    height: 30px;
    padding-bottom: 70px;
  }

  .img_icon_text{
    height: 40px;
  }

  .city_name_img h2 {
    height: 20px;

    text-align: center;
    color: aliceblue;
  }

  .temp h1 {
    height: 20px;
    color: aliceblue;
    text-align: center;
    font-size: 70px;
    font-family: 'Playfair ', serif;
  }

  .img_icon_text {
    height: 20px;
    line-height: 0;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #icon_img{
    height: 40px;
    width: 40px;
    align-self: center;
  }

  #icon_text {
    height: 20px;
    color: aliceblue;
    font-size: 22px;
    font-weight: 600;
  } 